<%- include ('partials/head') %>
<body>
    <%- include ('partials/nav') %>
    <section>
        <div class="container">
            <h1 class="display-4 text-center" style="margin-top: 5vh; margin-bottom: 5vh">Digite um número</h1>
            <div class="input-group mb-3">
                <input inputmode="numeric" id="input" name="inputNumber" type="text" class="form-control" placeholder="Ex. 55 DDD 123456789" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button onclick="submit()" class="btn btn-outline-success" type="button" id="button-addon2"><a href="" id="WppApiLink"><i class="bi bi-send"></i></a></button>
            </div>
            <div id="alert_sucess" class="alert alert-success" role="alert" style="display: none;">
              <p id="msg_success"></p>
            </div>
            <div  id="alert_danger" class="alert alert-danger" role="alert" style="display: none;">
              <p id="msg_danger"></p>
            </div>
        </div>
    </section>
</body>
<%- include ('partials/footer') %>
